html {
    background-color: #00539F;
    font-size: 10px;
    font-family: 'Kanit', sans-serif;
}

h1 {
    font-size: 600px;
    text-align: center;
}

p, li {
    font-size: 160px;
    line-height: 2;
    letter-spacing: 1px;
}